body {
    background: #fefefe;
}

.menuHeader {
    background: dimgray;
}
.menuItem {
    color: orange
}

.mainHeader {
    color: gray;
}

.topicListHeader, .sectionHeader{
    color: #083d77;
}



.topicHeader {
    color: #0496ff;
}

.pageFooter {
    background: dimgray;
}

.link {
    color: #1a936f;
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    
}

.paragraph {
    padding: 16px;
    
}
